<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<title>Create New Spouse</title>
</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
   <!--  <img src="/MASH-Game-App/src/main/resources/images/mashlogo.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    M*A*S*H* Game
  </a>
</nav>


<br></br>
<section id ="banner">
<div class = "container">
<div class="row">
<div class="col-md-4">
<h1> Car</h1>
</div>





<div class="col-md-8 text-">


	<div align="center">
		<center><p class="port-title">Who will you marry?</p></center>
		<br />
		<div class="container2">
		<form action="#" th:action="@{/saveSpouse}" th:object="${spouse}"
			method="post">

			<table border="0" cellpadding="10" width= "500">
			
				<tr>
					<td>SPOUSE 1:</td>
					<td width = "75%"><input type="text" th:field="*{spouseone}" /></td>
				</tr>
				<tr>
					<td>SPOUSE 2:</td>
					<td width = "75%"><input type="text" th:field="*{spousetwo}" /></td>
				</tr>
				<tr>
					<td>SPOUSE 3:</td>
					<td width = "75%"><input type="text" th:field="*{spousethree}" /></td>
				</tr>
				<tr>
					<td>SPOUSE 4:</td>
					<td width = "75%"><input type="text" th:field="*{spousefour}" /></td>
				</tr>
				<tr>
					
					<td width = "75%" align="right" ><button class="button button1" type="submit">Next: Children</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>