<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Results</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
    <a href="addspouse">Create New Spouse</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Spouse Id</th>
                <th>Spouse First</th>
                <th>Spouse Second</th>
                <th>Spouse Third</th>
                <th>Spouse Fourth</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="spouse : ${listSpouses}">
            	<td th:text="${spouse.spouseid}">Spouse Id</td>
                <td th:text="${spouse.spouseone}">Spouse First Choice</td>
                <td th:text="${spouse.spousetwo}">Spouse Second Choice</td>
                <td th:text="${spouse.spousethree}">Spouse Three Choice</td>
                <td th:text="${spouse.spousefour}">Spouse Fourth Choice</td>
                
                
            </tr>
        </tbody>
    </table>
</div>