<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<title>Results</title>
</head>
<body>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="path	/MASH-Game-App/mashlogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    M*A*S*H* Game
  </a>
</nav>

<div align="center">
    <h1>User List</h1>
    <a href="adduser">Create New User</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
               
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
            	<td th:text="${user.id}">User ID</td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.password}">password</td>
                
                
            </tr>
        </tbody>
    </table>
</div>